body {
  margin: 0;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  text-align: center;
  color: #333;
  background-color: #f9f9f9;
  background-image: url("https://l.top4top.io/p_3512tzuad1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  font-size: 1.8em;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

/* Paragraph */
p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

/* Links styled as buttons */
a {
  width: 100%;
  max-width: 300px;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #4CAF50;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

a button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
}

a button:hover {
  background-color: #45a049;
}