body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar navbar-expand-sm navbar-dark bg-dark{
    background-color: aliceblue;
}
.Hiname{
    text-align: center;
    padding: 20px;
}
ul.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

a:hover{
-webkit-text-fill-color: #198754;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    padding-top: 10px;
}

p{
    color: #198754;
}
.Objectives{
    text-align: center;
    color : black;
    padding-left: 10%;
    padding-right: 10%;
}
