{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <form action="/history" method="GET">
        <div class="mb-3" style="margin: 1%">
            <header class="alert alert-primary mb-0 text-center" role="alert"><h6>history!</h6></header>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </form>

{% endblock %}
