{% extends "layout.html" %}

{% block title %}
    Stock Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="GET">
        <div class="mb-3" style="margin: 1%">
            <header class="alert alert-primary mb-0 text-center" role="alert"><h6>Quoted!</h6></header>
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{symbol}}</td>
                            <td>{{price}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </form>

{% endblock %}
