{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<header class="alert alert-primary mb-0 text-center" role="alert"><h6>Register!</h6></header>

    <form action="/register" method="post" style="margin-top: 30px;">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
