{% extends "layout.html" %}

{% block title %}
    buy
{% endblock %}

{% block main %}
<header class="alert alert-primary mb-0 text-center" role="alert"><h6>Buy!</h6></header>

    <form action="/buy" method="post" style="margin-top: 30px;">
        <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="symbol" type="text">
        </div>

        <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
