{% extends "layout.html" %}

{% block title %}
    change_password
{% endblock %}

{% block main %}
<header class="alert alert-primary mb-0 text-center" role="alert"><h6>Wanna change your password?</h6></header>

    <form action="/change_password" method="POST" style="margin-top: 30px;">

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current_password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
