{% extends "layout.html" %}

{% block title %}
    sell
{% endblock %}

{% block main %}
<header class="alert alert-primary mb-0 text-center" role="alert"><h6>Sell!</h6></header>

    <form action="/sell" method="post" style="margin: 1%">
        <div class="mb-3">
            <select class="form-select mx-auto w-25" name="symbol">
                <option disabled selected>Symbol</option>
                {% for stock in stocks %}
                <option value="{{stock['symbol']}}">{{stock['symbol']}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="shares" placeholder="Shares"
                type="number" min="1">
        </div>
        <button class="btn btn-primary p-2" style="width:10%" type="submit">Sell</button>
    </form>
{% endblock %}
